h1 {
  font-family: Helvetica;
  font-weight: 300;
  text-align: center;
  color: #5a5a5a;
}

html {
  font-family: Helvetica;
  font-weight: 400;
  color: #999;
}

.btn {
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #ccc;
  display: inline-block;
  padding: 0.5em 0.75em;
  cursor: pointer;
}

.btn--login {
  border-color: green;
  background-color: rgba(0, 128, 0, 0.6);
  color: #fff;
}

.subtitle {
  text-align: center;
  color: #999;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 20px;
}
